<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Roger's blog {% block title %}{% endblock %}</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="header">
        <h1 id="branding">Roger's blog</h1>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Navigation</h2>
        <ul id="main-nav">
            <li id="main-nav-entries">
                <a href="{% url django_blog_entry_archive_index %}">Entries</a>
            </li>
            <li id="main-nav-links">
                <a href="{% url django_blog_link_archive_index %}">Links</a>
            </li>
            {% comment %}
            <li id="main-nav-categories">
                <a href="{% url django_blog_category_list %}">Categories</a>
            </li>
            <li id="main-nav-tags">
                <a href="{% url django_blog_tag_list %}">Tags</a>
            </li>
            {% endcomment %}
        </ul>
        <h2>What is this?</h2>
        {% block whatis %}
        {% endblock %}
        {% load django_blog_tags %}
        <h2>Latest entries in the weblog</h2>
        <ul>
            {% get_latest_entries %}
            {% for entry in latest_entries %}
            <li>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>,
                    posted {{ entry.pub_date|timesince }} ago.
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
