{% extends "django_blog/base_links.html" %}

{% block title %}{{ block.super }} | {{ object.title }}{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
<p><a href="{{ object.url }}">Visit site</a></p>
{% endblock %}

{% block whatis %}
<p>This is a link posted to my blog on {{ object.pub_date|date:"F j, Y" }}.</p>

{% if object.tags.count %}
    <p>tags:
    {% for tag in object.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
    {% endfor %}
    </p>
{% else %}
    <p>This link doesn't have any tags.</p>
{% endif %}
{% endblock %}

