<html>
    <head>
        <title>{{ entry.title }}</title>
    </head>
    <body>
        <p>Published on {{ entry.pub_date|date:"F j, Y" }}</p>
        {{ entry.body_html|safe }}
        <p>Categories: {{ entry.categories }}</p>
        {% comment %}
        {% for category in entry.categories %}
            {{ category }}
        {% endfor %}
        {% endcomment %}
        <p>Tags: {{ entry.tags }}</p>
        {% if entry.featured %}
            <p>FEATURED ENTRY</p>
        {% endif %}
        {% if entry.enable_comments %}
            <p>comments enabled</p>
        {% endif %}
    </body>
</html>
